<!-- padding, margin, and border classes not shown for clarity -->
<div class="row nowrap">
  <div class="col">
    <h3 class="text-1 weight-bold">Column 1</h3>
    <img width="100" src="https://ccweb.imgix.net/https%3A%2F%2Fwww.classcentral.com%2Fbundles%2Fclasscentralsite%2Fimages%2Ficon-cs.png?auto=format&ixlib=php-3.1.0&s=697ac7bd36dd6d6981e295d633ec39c8" />
  </div>
  <div class="col">
    <h3 class="text-1 weight-bold">Column 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
